# Eclipse (leave checked in)
# .cproject
# .project
# /.launches/

# doxygen output
/doc/

# VSCode
.vscode/

# Visual Studio (Windows)
.vs/
*.user
Debug/
packages/

# vcpkg generated
vcpkg_installed/
