# Eclipse (leave checked in)
# .cproject
# .project
# /.launches/

# generated output
/docs/dev/doxygen
/bin/
error.log

# VSCode
.vscode/

# Visual Studio (Windows)
.vs/
*.user
Debug/
packages/

# vcpkg generated
vcpkg_installed/
