name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-13, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v6

      - name: Setup (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
            sudo apt-get update
            sudo apt-get install -y check doxygen

      - name: Setup (Mac)
        if: startsWith(matrix.os, 'macos')
        run: |
            brew install check doxygen

      - name: Setup (Windows)
        if: startsWith(matrix.os, 'windows-2022')
        uses: microsoft/setup-msbuild@v2

      - name: Run tests ${{matrix.os}}
        if: startsWith(matrix.os, 'windows') == false
        run: |
            cd build/gcc
            make TARGET=pc clean all check examples utils doc

      - name: Run tests ${{matrix.os}}
        if: (startsWith(matrix.os, 'windows-2022'))
        run: |
            vcpkg integrate install
            msbuild.exe build\vs2022\exip.sln -property:Configuration=Debug
            echo "Run individual tests"
            build\vs2022\Debug\check_contentio.exe
            build\vs2022\Debug\check_grammar.exe
            build\vs2022\Debug\check_profile.exe
            build\vs2022\Debug\check_streamIO.exe
            build\vs2022\Debug\check_stringTables.exe
            echo "Run examples (todo)"
